<form action="/expenses/{{ expense._id }}?_method=PUT" method="POST">
  <div class="d-flex justify-content-center mt-5">
    <h3 class="mb-1 restaurant-show-title">編輯 "{{expense.name}}"</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <div class="d-flex justify-content-end mb-3">
          <button class="btn btn-secondary " type="submit">Submit</button>
          <a class="btn btn-outline-secondary ml-2" href="/">Back</a>
        </div>

        <div class="row mb-1">
          <label for="name" class="col-sm-3 col-form-label col-form-label-sm text-secondary">
            <i class="pr-2 me-1"></i>名稱：
          </label>
          <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" placeholder="名稱" name="name" id="name"
              value="{{expense.name}}" required>
            <div class="invalid-feedback">需要填寫花費名稱</div>
          </div>
        </div>

        <div class="row mb-1">
          <label for="date" class="col-sm-3 col-form-label col-form-label-sm text-secondary">
            <i class="pr-2 me-1"></i>時間：
          </label>
          <div class="col-sm-7">

            <input type="date" class="form-control form-control-sm" name="date" id="date"
              value="{{toDate expense.date}}" required>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="row mb-1">
          <label for="category" class="col-sm-3 col-form-label col-form-label-sm text-secondary">
            <i class="pr-2 me-1"></i>類別：
          </label>
          <div class="col-sm-7">
            <select type="text" class="form-control form-control-sm" placeholder="" name="category" id="category"
              required>
              <option value="{{expense.category}}" selected >{{expense.category}}</option>
              <option value="餐飲食品">餐飲食品</option>
              <option value="休閒娛樂">休閒娛樂</option>
              <option value="交通出行">交通出行</option>
              <option value="家居物業<">家居物業</option>
              <option value="其他">其他</option>
            </select>
          
            <div class="invalid-feedback">需要填寫花費類別</div>
          </div>
        </div>

        <div class="row mb-1">
          <label for="rating" class="col-sm-3 col-form-label col-form-label-sm text-secondary">
            <i class="pr-1 me-1"></i>金額：
          </label>
          <div class="col-sm-7">
            <input type="number" class="form-control form-control-sm" placeholder="花費金額" name="cost" id="cost"
              value="{{expense.cost}}" required>
            <div class="invalid-feedback">需要填寫花費金額</div>
          </div>
        </div>

        <div class="row mb-1">
          <label for="location" class="col-sm-3 col-form-label col-form-label-sm text-secondary">
            <i class="pr-2 me-1"></i>備註：
          </label>
          <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" placeholder="備註/地點/細項" name="comment" id="comment"
              value="{{expense.comment}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>