<div class="container">
  <ul class="list-group d-flex justify-content-center">
    {{#each expenses}}
    <li class="list-group-item" style="max-width: 960px;">
      <div class="row">
        <div class="col-3 col-sm-2 position-relative">
          <div class="position-absolute top-50 start-50 translate-middle btn btn-secondary">
            {{{categoryIcon this.category ../categories}}}
          </div>
        </div>
        <div class="col-3 col-sm-4">
          <div class="d-flex flex-column">
            <h4 class='m-2'>{{this.name}}</h3>
              <p class='m-2'><span class="badge rounded-pill bg-secondary mr-5">{{this.comment}}</span></p>
          </div>
        </div>
        <div class="col-3 col-sm-4">
          <div class="d-flex flex-column align-self-center">
            <h3 class='m-2'>{{this.cost}}</h3>

            <p class='m-2'>{{this.date}}</p>
          </div>
        </div>
        <div class="col-3 col-sm-2 position-relative">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <a class="btn btn-secondary fas fa-edit m-2" style="width: 40px;" href="/expenses/{{this._id}}/edit"></a>
            <form action="./expenses/{{this._id}}/delete" method="POST" onSubmit="return confirm('你確定要刪除此項支出?');">
              <button type="submit" class="btn btn-warning fas fa-trash m-2"></button>
            </form>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>